<div class="container my-5" id="jumbo2"   >
    <div class="jumbotron fw-bold p-5 text-center bg-warning border-dark" style="border: solid black 5px; ">
        <h1 class="display-4 text-body-enphasis " >Welcome to BRCKD Up</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">Visualize and deploy your creations, brick by brick! <br> Wanna Join?</p>
        <div class="bt">
          <a class="btn btn-danger btn-lg" href="/auth/signup">Sign Up</a>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active c-item" >
      <img src="https://www.lego.com/cdn/cs/set/assets/blt92f7face5cfdb894/71374.jpg" class="d-block w-100 c-img" alt="...">
      <div class="carousel-caption top-0 mt-4 ">
        <p class="txt-item  mt-5 fs-3 text-uppercase text-warning">Search for different official Sets!</p>
        <h1 class="txt-item display-1 fw-bolder text-capitalize text-warning">Official Sets</h1>
        <a href="/set/official" class="btn btn-danger btn-outline-warning px-4 py-2 fs-5 mt-5">See Sets</a>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img src="https://i1.wp.com/brickdigest.tinyigloo.com/wp-content/uploads/sites/11/2018/08/city-wide-july-2018-1.jpg?fit=3972%2C2370" class="d-block w-100 c-img" alt="...">
      <div class="carousel-caption top-0 mt-4 ">
        <p class="txt-item mt-5 fs-3 text-uppercase text-warning">Search for different fanmade Sets!</p>
        <h1 class="txt-item display-1 fw-bolder text-capitalize text-warning">Fanmade Sets</h1>
        <a href="/set/fanmade" class="btn btn-danger btn-outline-warning px-4 py-2 fs-5 mt-5">See Sets</a>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img src="https://www.lego.com/cdn/cs/sustainability/assets/blt4f4d197265516b63/11._How_it_works.png" class="d-block w-100 c-img" alt="...">
      <div class="carousel-caption top-0 mt-4  ">
        <p class="txt-item mt-5 fs-3 text-uppercase text-warning">Browse your Work and upload your Sets!</p>
        <h1 class="txt-item display-1 fw-bolder text-capitalize text-warning">Update your Library!</h1>
        <a href="/user/profile" class="btn btn-danger btn-outline-warning px-4 py-2 fs-5 mt-5 ">See Profile</a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="b-example-divider"></div>

<div class="container my-5" id="jumbo2"   >
    <div class="jumbotron fw-bold p-5 text-center bg-warning border-dark" style="border: solid black 5px; ">
        <h1 class="display-4 text-body-enphasis " >Ever-growing website</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">We'll try to update the website with new functionalities on a regular basis!<br>Stay tuned!</p>
    </div>
</div>