<div class="container my-5" id="jumbo2" style="background-image: url(https://img.freepik.com/premium-vector/cute-pastel-lego-illustration-background_605668-6.jpg); repeat: no-repeat ;"  >
    <div class="p-5 text-center bg-body-tertiary" style="background-color: #F9BCBE; ">
        <h1 class="text-body-enphasis " >Welcome to BRCKD Up</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">Visualize and deploy your creations, brick by brick!</p>
        
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container">
  <div class="row gy-5 gx-5 justify-content-around p-5">
    <div class="col-md-4 ">
      <div class="card h-100" style="background-color: bisque;">
        <img class="card-img-top " style="height: 235px;" src="https://www.lego.com/cdn/cs/set/assets/blt92f7face5cfdb894/71374.jpg" alt="offical Sets">
        <div class="card-body" style="background-color: #F9BCBE;">
          <h5 class="card-title">Official Sets</h5>
          <p class="card-text">Search for differernt official Sets.</p>
          <a href="/set/official" class="btn btn-danger btn-outline-warning ">See Sets</a>

        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="card h-100" style="background-color: bisque;">
        <img class="card-img-top " style="height: 235px;" src="https://ideascdn.lego.com/public/_shared/lego/img/sets/medieval-blacksmith-full.png"
            alt="Fanmade Sets">
        <div class="card-body" style="background-color: #F9BCBE;">
          <h5 class="card-title">Fanmade Sets</h5>
          <p class="card-text">Search for different fanmade Sets.</p>
          <a href="/set/fanmade" class="btn btn-danger btn-outline-warning ">See Sets</a>
        </div>
      </div>
    </div>
    <div class="col-md-4  ">
      <div class="card h-100" style="background-color: bisque;">
        <img class="card-img-top" style="height: 235px;" src="https://www.lego.com/cdn/cs/sustainability/assets/blt4f4d197265516b63/11._How_it_works.png" alt="offical Sets">
        <div class="card-body" style="background-color: #F9BCBE;">
          <h5 class="card-title">Update your Library!</h5>
          <p class="card-text">Browse your Work and upload your Sets!.</p>
          <a href="/user/profile" class="btn btn-danger btn-outline-warning ">See Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>


<div class="container my-5" id="jumbo1" >
    <div  class="p-5 text-center bg-body-tertiary" style="background-color: #F9BCBE;" >
        <h1 class="text-body-enphasis">Fanmade Sets</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">Explore through a plethora of Fanmade Sets!</p>
         <div class="d-inline-flex gap-2 mb-5">
          <button class="d-inline-flex align-items-center btn btn-danger btn-outline-warning btn-lg px-4  rounded-pill"> Search for Sets</button>
        </div>
    </div>

</div>