<div class="container-sm shadow-sm rounded bg-body-tertiary mt-3">
<div class="text-center pt-3">
    <h2>Add a Set</h2>
</div>

<div class="row justify-content-center">
  <div class="col-lg-6">
    <form action="/set/create" method="post" enctype="multipart/form-data"> {{!-- !!! --}}
      
      <div class="form-group mb-3">
        <label class="form-label">Name</label>
        <input type="text" name="name" class="form-control" />
      </div>
 
      <div class="form-group mb-3">
        <label class="form-label" for="parts">Parts</label>
        <select name="parts" class="form-multi-select form-control" multiple data-coreui-search="true"> 
            {{#each parts}}
            <option value="{{_id}}">{{name}}, {{color}}</option>
            {{/each}}
        </select>
      </div>
 
      <div class="form-group mb-3">
        <label class="form-label">Image</label>
        <input type="file" name="set-image" class="form-control-file"/>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Instructions</span>
        <textarea type="text" class="form-control" aria-label="With textarea"></textarea>
      </div>


      <input type="hidden" value="{{userInSession._id}}" name="creators">
 
      <button type="submit" class="btn btn-danger mb-3">Create</button>
    </form>
  </div>
</div>
</div>